@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0f172a; /* slab-900 */
}

body {
  background: var(--background);
  color: var(--foreground);
}
